.rebar3
_*
.eunit
*.o
*.beam
*.plt
*.swp
*.swo
.erlang.cookie
ebin
log
erl_crash.dump
.rebar
logs/*.log
_build
.idea
rebar3.crashdump
sys.config
mnesia.db*
Mnesia.es_client@leeyideiMac
apps/es_client/doc
TEST*.xml
*.out
