%% Erlang compiler options
{erl_opts, [debug_info,
    {i, "test"},
    {src_dirs, ["src"]}
]}.

{eunit_opts, [verbose, {report, {eunit_surefire, [{dir, "."}]}}]}.

{cover_enabled, true}.

{deps, [
    {iso8601, {git, "https://github.com/erlsci/iso8601.git", {tag, "1.2.3"}}},
    {erlastic_search, {git, "https://github.com/tsloughter/erlastic_search.git", {branch, "master"}}}
]}.

{relx, [
    {
        release,
        { es_client, "0.1.0" },
        [es_client, sasl]
    },

    {sys_config, "./config/sys.config"},
    {vm_args, "./config/vm.args"},

    {dev_mode, true},
    {include_erts, false},

    {extended_start_script, true}
]}.

{profiles, [
    { prod, [
        {relx, [
            {dev_mode, false},
            {include_erts, true}
        ]}
    ]},
    {'centos-7', [
        {relx, [
            {dev_mode, false},
            {include_erts, true},
            {vm_args, "./config/prod.vm.args"},
            {sys_config, "./config/prod.config"},
            {include_erts, "/Users/leeyi/workspace/erl/erlang_otp20.0_for_centos7"},
            {system_libs, "/Users/leeyi/workspace/erl/erlang_otp20.0_for_centos7"}
        ]}
    ]}
]}.
