%% A config file has the syntax:
%% [{Application1, [{Par11,Val11},...]},
%% ...,
%% {ApplicationN, [{ParN1,ValN1},...]}].

[
    {erlastic_search, [
        %{port, 9200},
        %{host, <<"127.0.0.1">>},
        {es_user, <<"">>},
        {es_user_pwd, <<"">>},
        {port, 9200},
        {host, <<"192.168.2.212">>}
    ]},

    % separator = "" 每行记录为json格式数据
    %
    { es_client, [

        % 生产环境用 disc_copies ， 开发环境用 ram_copies
        {table_copies, disc_copies},

        % 需要扫描的日志文件信息
        {scan_files, [
            #{ % 必须是 erlang maps
                separator=>"",
                multiline=>false,
                index=>"filebeat-esc-test-nginx-access-{Ymd}",
                file=>"/Users/leeyi/workspace/tools/nginx/logs/*access.log"
            },
            #{
                separator=>"|",
                keys=>[
                    {name, "createtime", datetime},
                    {name, "level", string},
                    {name, "message", string}
                ],
                multiline=>false,
                index=>"filebeat-esc-test-afd-task-{Y-m-d}",
                file=>"/Users/leeyi/workspace/tools/nginx/logs/task_log.log"
            },
            #{ % for nginx error
                separator=>", cl",
                keys=>[
                    {split,"[\\[|\\]]+", [
                        {name, "createtime", datetime},
                        {name, "level", string},
                        {name, "message", string}
                    ]},
                    {split, ",", [
                        {split, ":", ip},
                        {split, ":", string},
                        {split, ":", {split, " ", [
                            {name,"request_method", string},
                            {name,"request_path", string},
                            {name,"http_version", string}
                        ]}},
                        {split, ":", string},
                        {split, ":", string}
                    ]}
                ],
                multiline=>"\\d{4}/\\d{2}/\\d{2} \\d{2}:\\d{2}:\\d{2}",
                index=>"filebeat-esc-test-nginx-error-{Y-m-d}",
                file=>"/Users/leeyi/workspace/tools/nginx/logs/*error.log"
            }
        ]}
    ]}
].
